body {
    background-color: darkblue;
}

p {
    background-color: royalblue;
}

li {
    color:darkgrey;
}

.branches{
    font-size: 25px;
    margin: 2px solid;
    color: white;
}

.branches li{
    color: white;
}
.branches p {
    background-color:pink;
}